.Projects {
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3vh;
    padding: 5vh 0;

    .projectsHeader {
        h5 {
            font-weight: normal;
        }
    }

    .projectsCardContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3vh;
    }
}