.PrayOrderStatic {
    min-height: 60vh;
    padding: 10vh;
    background-image: url("../../../../Assets/Images/Common/fabric-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .container {
        text-align: start;
        width: 55%;
    }

    img {
        position: absolute;
        height: 80vh;

        top: 0px;
        left: 0px;
    }
}